/* futuristic-stage.css */
body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: #00ffea;
    text-align: center;
}

button {
    background: linear-gradient(45deg,#00ffea,#0077ff);
    border: none;
    color: #fff;
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffea;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ffea;
}
